extends layout

block content
  p.lead Prioritize your tasks from Todoist so they get done right.
  if user
    ul#tasks-container.list-group
  else 
    a.btn.btn-lrg.btn-default(href="/auth/todoist") Login with Todoist
  script#task-template(src="/templates/task")
