doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title= title
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    mixin item(text, url)
      li(class=title == text ? 'active' : '')
        a(href=url)= text
    .container
      // Static navbar
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Tasks
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              +item('Home', '/')
              +item("About", "/about")
              if !user
                +item("Login", "/auth/todoist")
              else 
                +item("Logout", "/auth/logout")

      .inner.cover
        block content
      .footer
        .inner
          p.text-muted
            | Powered by&nbsp;
            a(href="https://fuzzy.ai/") Fuzzy.ai
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/moment/moment.js')
    script(src="/javascripts/main.js")
