li.list-group-item  
  span.badge.badge-warning #{task.urgency.toFixed(2)}
  p #{task.content.replace(/(?:https?|ftp):\/\/[\n\S]+/g, '')}
  .text-muted Priority: #{5 - task.priority}
  .text-muted Created: #{moment(task.date_added).fromNow()}
  if task.due_date_utc
    .text-muted Due: #{moment(task.due_date_utc).fromNow()}
